body{
    background-color: black
}
@font-face {
    font-family: bold;
    src: url("CaviarDreams_BoldItalic.ttf")
}
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.star {
    position: absolute;
    border-radius: 70%;
    top: calc(50% - var(--size) / 2);
    left: calc(50% - var(--size) / 2);
    width: var(--size);
    height: var(--size);
}body{
    background-color: black;
}

.planet,
.star {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - var(--size) / 2);
    left: calc(50% - var(--size) / 2);
    width: var(--size);
    height: var(--size);

    font-family: bold;
    font-size: larger;
    text-align: center;
    color: red
}
.sun {
    --size: 120px;
    background-color: yellow;
    box-shadow: 0px 0px 200px 80px yellow;
}
.tech {
    --size: 50px;
    background-color: blue;
    box-shadow: 0px 0px 200px 40px blue;
    transform: translate(150px);
    animation: tech 15s infinite linear;
}
@keyframes tech {
    from{
        transform: rotate(0deg) translateX(-150px)
    }
    to {
        transform: rotate(360deg) translateX(-150px)
    }
}
.techText{
    animation: techText 15s infinite linear;
}
@keyframes techText {
    from {
        transform: rotate(360deg)
    }
    to {
        transform: rotate(0deg)
    }
}
/*
.transition  {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index:101
}
#blue {
    background-color: blue;
    animation: lefttransition 3s ease forwards
}
#yellow {
    background-color: yellow;
    animation: lefttransition 2s ease forwards;
}
#green {
    background-color: green;
    animation: lefttransition 1.5s ease forwards;
}
@keyframes lefttransition {
    from {
        width: 100%
    }
    to {
        width: 0%
    }
}
@keyframes righttransition {
    from {
        width: 0%
    }
    to {
        width: 100%
    }
}
*/
.projects {
    --size: 75px;
    background-color: blue;
    box-shadow: 0px 0px 200px 40px blue;
    transform: translate(225px);
    animation: projects 20s infinite linear;
}
div {
    transition: width 2s linear 1s;
  }
div {
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
  }

@keyframes projects {
    from{
        transform: rotate(0deg) translateX(-225px)
    }
    to {
        transform: rotate(360deg) translateX(-225px)
    }
}
.projectsText{
    animation: projectsText 20s infinite linear;
    text-align: bottom;
    text-justify: inter-cluster;
}
@keyframes projectsText {
    from {
        transform: rotate(360deg)
    }
    to {
        transform: rotate(0deg)
    }
}

.stories {
    --size: 90px;
    background-color: limegreen;
    box-shadow: 0px 0px 200px 80px limegreen;
    transform: translate(250px);
    animation: projects 25s infinite linear;
}
@keyframes stories {
    from{
        transform: rotate(0deg) translateX(-250px)
    }
    to {
        transform: rotate(360deg) translateX(-250px)
    }
}
.storiesText{
    animation: projectsText 20s infinite linear;
    text-align: center;
}
@keyframes storiesText {
    from {
        transform: rotate(360deg)
    }
    to {
        transform: rotate(0deg)
    }
}